@import url("./__caption/images__caption.css");
@import url("./__like/images__like.css");
@import url("./__list/images__list.css");
@import url("./__picture/images__picture.css");
@import url("./__text/images__text.css");
@import url("./__card/images__card.css");

.images {
    width: 100%;
    margin: 0 auto;
    height: 744px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 935px) {
    .images {
    height: auto;
    }
}
