.header__logo {
    width: 173px;
    height: 33px;
    padding-bottom: 41px;
}


@media screen and (max-width: 850px) {
    .header__logo {
    padding-left: 25px;
    }
}

@media screen and (max-width: 850px) {
    .header__logo {
        width: 126px;
        height: 24px;
        padding-bottom: 31px;
    }
}