.images__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 18px;
    row-gap: 21px;
    padding: 0;
    list-style: none;
    margin: 0 auto;
}

@media screen and (max-width: 935px) {
    .images__list {
    width: auto;
    grid-template-columns: repeat(2, 285px);
    }
}

@media screen and (max-width: 600px) {
    .images__list {
    width: auto;
    grid-template-columns: 285px;
    }
}