@import url("__add/profile__add.css");
@import url("__description/profile__description.css");
@import url("__edit/profile__edit.css");
@import url("__image/profile__image.css");
@import url("__name/profile__name.css");
@import url("__text/profile__text.css");
@import url("__occupation/profile__occupation.css");
@import url("__overlay/profile__overlay.css");
@import url("__overlay/_button/profile__overlay_button.css");


.profile {
    height: 120px;
    width: 100%;
    margin-bottom: 47px;
    margin-top: 36px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
}


@media screen and (max-width: 720px) {
    .profile {
    flex-direction: column;
    height: auto;
    margin-top: 38px;
    margin-bottom: 36px;
    }
}


