.profile__name_text {
    font-weight: normal;
    font-size: 42px;
    line-height: 1;
    margin: 0;
    padding-right: 24px;
}

@media screen and (max-width: 799px) {
    .profile__name_text {
        font-size: 32px;
    }
}

@media screen and (max-width: 422px) {
    .profile__name_text {
        font-size: 22px;
        padding-right: 12px;

    }
}