.profile__edit {
    background: url("../../../Images/pencil.svg") no-repeat center;
    height: 24px;
    width: 24px;
    border: 1px solid white;
    margin-top: 12px;
    padding: 0;
}

.profile__edit:hover{
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 799px) {
    .profile__edit {
       margin-top: 9px;
       height: 20px;
       width: 20px;
    }
}

@media screen and (max-width: 422px) {
    .profile__edit {
        height: 14px;
        width: 14px;
        margin-top: 6px;
    }
}