@import url("__copyright/footer__copyright.css");

.footer {
    padding: 66px 0 60px;
}

@media screen and (max-width: 600px) {
    .footer {
       padding-left: 25px;     
    }
}       

@media screen and (max-width: 422px) {
    .footer {
        padding: 48px 0 36px 19px;
    }
}       