.profile__name {
    padding-top: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 720px) {
    .profile__name {
        padding-left: 40px;
    }
}

@media screen and (max-width: 422px) {
    .profile__name {
        padding-left: 20px;
    }
}


