.profile__add_button {
    background: url("../../../Images/plus.svg") no-repeat center;
    height: 50px;
    width: 150px;
    border: 1px solid white;
    margin-left: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}