@import url("./__close/popup__close.css");
@import url("./__content/popup__content.css");
@import url("./__field/popup__field.css");
@import url("./__form/popup__form.css");
@import url("./__save/popup__save.css");
@import url("./__confirm/popup__confirm.css");
@import url("./__title/popup__title.css");
@import url("./__field/_error/popup__field_error.css");
@import url("./__input-error/popup__input-error.css");
@import url("./__input-error/_active/popup__input-error_active.css");
@import url("./__save/_inactive/popup__save_inactive.css");
@import url("./__content/_fullscreen/popup__content_fullscreen.css");
@import url("./__form/_delete/popup__form_delete.css");
@import url("./__form/_avatar/popup__form_avatar.css");

.popup {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,.5);
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s linear;
}




