.popup__field {
    border: none;
    border-bottom: 1px solid rgb(0,0,0,.2);
    margin-left: 36px;
    margin-top: 26px;
    width: 358px;
    padding-bottom: 13px;
}

.popup__field::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 550px) {
    .popup__field {
        margin-left: 27px;
        margin-top: 20px;
        width: 275px;
        padding-bottom: 10px;
    }
}    