.popup__field {
    border: none;
    border-bottom: 1px solid rgb(0,0,0,.2);
    margin-left: 36px;
    margin-top: 26px;
    width: 358px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    height: 27px;
}

@media screen and (max-width: 550px) {
    .popup__field {
        margin-left: 27px;
        margin-top: 20px;
        width: 275px;
    }
}    

@media screen and (max-width: 380px) {
    .popup__field {
        margin-left: 18px;
        margin-top: 15px;
        width: 240px;
        font-size: 12px;
    }
}    